body, html {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #5176a6;
    margin: 0;
    padding: 0;
}
/*------------navbar------------*/
.navbar {
    height: 120px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    color: #fff;
}
img {
    height: 120px;
}

h3 {
    text-decoration: none;
    margin: 2px;
    padding: 2px;
}

ul {
    margin: 0;
    padding: 0;
}
/*-------------buttons----------------*/
.btn {
    margin: 8px;
    position: relative;
    background-color: #5176a6;
    color: #fff;
    text-decoration: none;
}
.btn--btn-light {

}

/*-----------overlay-----------------*/

.opaque-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

li {
    list-style: none;
    margin: 2px;
    padding: 2px;
}

/*--------------jumbotron-----------*/
.jumbotron {
    background-color: transparent;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    margin: 10px;
}
.row {
    position: relative;
}
.grid-container {
    display: grid;
    grid: 150px / auto auto auto;
    grid-gap: 15px;
}

.text {
    background-color: #5176a6;
    opacity: 0.95;
}
.text2 {
    background-color: #5176a6;
    opacity: 0.95;
}
.text3 {
    background-color: #5176a6;
    opacity: 0.95;
}
/*----------features/information container------------------*/

.container-fluid {
    height: 100vh;
    background: url("calloutimg.jpg") no-repeat bottom right fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container-fluid2 {
    height: 100vh;
    background: url("") no-repeat bottom right fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.features-container {
    background-color: transparent;
}
.features-container2 {
    background-color: #fff;
    color: #000;
}
